<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="car1" class="com.springconstructor.injection.Car">
        <constructor-arg name="carName" value="BMW"/>
        <constructor-arg name="carModelNo" value="2018056"/>
        </bean>
        <bean id="car2" class="com.springconstructor.injection.Car">
        <constructor-arg name="carName" value="Maruthisuziki"/>
        <constructor-arg name="carModelNo" value="769204"/>
        </bean>
</beans>